<% layout('layouts/indexboilerplate') -%>
<div class="row mt-4 p-4 m-auto justify-content-center">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm <%= topic.find %>" aria-label="Tìm kiếm " aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2"><i class="bi bi-search"></i></span>
        </div>
      </div>
</div>

<% for(let course of courses) {%>
    <div class="card mx-2 my-2 course" style="width: 234px; height: 400px;">
        <!-- Thumbnail Image -->
        <img src="<%=course.coursethumbnail%>" class="card-img-top img-fluid" alt="..." style="object-fit: cover; height: 40%;">

        <!-- Card Body with Flexbox for alignment -->
        <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%=course.title%></h5>
            
            <!-- Make sure the description does not overflow -->
            <p class="card-text" style="flex-grow: 1; overflow: hidden; text-overflow: ellipsis;">
                <%=course.description%>
            </p>
            
            <!-- Button aligned at the bottom -->
            <a href="/user/courses/<%=course._id%>" class="btn btn-primary mt-auto">See the course</a>
        </div>
    </div>
<%}%>
